ADF-Databricks(API)/pipeline/API_project_1.json
{
	"name": "API_project_1",
	"properties": {
		"activities": [
			{
				"name": "First_API_Pipeline",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('years')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "API_Landing_zone",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/oluwadamilare.williams@outlook.com/API-medallion Project/API to Landing zone",
								"baseParameters": {
									"section": "mileages",
									"year": {
										"value": "@string(item())",
										"type": "Expression"
									},
									"filename": {
										"value": "@concat('mileages_', string(item()))",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "API_car_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Landing_to_Bronze",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "API_Landing_zone",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/oluwadamilare.williams@outlook.com/API-medallion Project/Landing Zone to Bronze"
							},
							"linkedServiceName": {
								"referenceName": "API_car_project",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"years": {
				"type": "Array",
				"defaultValue": [
					2015,
					2016,
					2017,
					2018,
					2019
				]
			},
			"debug years": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-13T23:23:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}