ADF-Databricks(API)/pipeline/API_project_1.json
{
	"name": "API_project_1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('years')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "API_to_JSON",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/oluwadamilare.williams@outlook.com/API-medallion Project/API to Landing zone",
								"baseParameters": {
									"section": "models",
									"year": {
										"value": "@string(item())",
										"type": "Expression"
									},
									"filename": {
										"value": "@concat('models_', string(item()))\n",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "API_car_project",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "API_years",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "years",
					"value": {
						"value": "@range(pipeline().parameters.startYear, pipeline().parameters.endYear)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "API_years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "debug years",
					"value": {
						"value": "@pipeline().parameters.endYear",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"startYear": {
				"type": "int",
				"defaultValue": 2015
			},
			"endYear": {
				"type": "int",
				"defaultValue": 2019
			}
		},
		"variables": {
			"years": {
				"type": "Array"
			},
			"debug years": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-13T23:23:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}